APP_ENV=
APP_KEY=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
FRONTEND_URL=
MEDIANA_API_KEY=
MEDIANA_AUTH_HEADER=
MEDIANA_AUTH_PREFIX=
MEDIANA_BASE_URL=
MEDIANA_CODE_PARAM=
MEDIANA_PATTERN_CODE=
OTP_COOLDOWN_SECONDS=
OTP_MAX_ATTEMPTS=
OTP_MAX_SENDS_PER_HOUR=
OTP_TTL_SECONDS=
PAYMENT_DRIVER=
SENTRY_DSN=
SMS_DRIVER=
VITE_API_URL=
VITE_SENTRY_DSN=