# ====================================================================
# KaroVita Cloud ERP - پیکربندی محیط سرور و هاست پروداکشن (Production)
# این فایل را پس از آپلود در هاست به .env تغییر نام دهید
# ====================================================================

# مشخصات اتصال به پایگاه‌داده MySQL هاست
DB_HOST=localhost
DB_PORT=3306
DB_NAME=نام_دیتابیس_شما
DB_USER=نام_کاربری_دیتابیس_شما
DB_PASS=رمز_عبور_دیتابیس_شما

# کلید توکن امنیتی نشست‌ها و رمزنگاری
JWT_SECRET=karovita_secure_jwt_key_938472918472
APP_KEY=secret_key_owj_abri_123

# تنظیمات درگاه پرداخت اینترنتی شاپرک (زیبال - Zibal)
ZIBAL_MERCHANT=zibal
ZIBAL_SANDBOX=1

# تنظیمات وب‌سرویس پیامکی خدماتی (SMS.ir)
SMS_DRIVER=sms_ir
SMS_IR_API_KEY=ocv39CACg6Vg3cg3DbY3mUwfOti7dktYUwksl3jA3Jt1qI0z
SMS_IR_LINE_NUMBER=30007732
SMS_IR_TEMPLATE_ID=418155
SMS_IR_PARAM_NAME=CODE
